@{
	ViewData["Title"] = "Journal Entries";
}


<div class="d-flex align-items-center mb-3">
	<div>
		<h1 class="page-header mb-0">Journal Entries</h1>
	</div>

	<div class="ms-auto">
		<a href="#" class="btn btn-theme btn-sm w-130px py-2 fs-11px d-flex align-items-center justify-content-center"
		   data-bs-toggle="modal" data-bs-target="#JournalEntryModal">
			<iconify-icon icon="material-symbols-light:add" class="fs-22px me-1 ms-n3 my-n3"></iconify-icon>
			Add Entry
		</a>
	</div>
</div>

<partial name="JourneyEntryModal"/>

<div class="row g-2">
	<div class="col-xl-6">
		<table class="table table-bordered phoenix-entry">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Cooked</th>
					<th scope="col">Gym/Exercise</th>
					<th scope="col">Protein Intake (G)</th>
					<th scope="col">Water Intake (Fl.O) </th>
					<th scope="col">Calories</th>
				</tr>
			</thead>
			<tbody>
				@{int i = 0;}
				@foreach(var je in (List<JournalEntry>)ViewBag.Entries)
				{
					i++;
					<tr class="entry-row">
						<td>@i</td>
						<td>@je.DateTime</td>
						<td>@je.Cooked</td>
						<td>@je.Gym</td>
						<td>@je.ProteinIntake</td> @*5*@
						<td>@je.WaterIntake</td>
						<td>@je.Calories</td>
						<td hidden>@je.Weight</td>
						<td hidden>@je.Food</td>
						<td hidden>@je.NoMochas</td>
						<td hidden>@je.NoEroticaBeforeBed</td>
						<td hidden>@je.NoReddit</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-xl-2">

	</div>
	<div class="col-xl-4">
		<div id="JournalData" class="card" style="visibility:hidden">
			<div class="card-header">JOURNAL ENTRY DATA </div>
			<div class="card-body phoenix-entry">
				<div class="form-group row mb-3">
					<h1 class="col-form-label-lg phoenix-section-header">Daily Stats</h1>
				</div>
				<div class="form-group row mb-3">
					<label id="dvJournalEntryDate" class="form-label col-sm-4 col-form-label"></label>
				</div>
				<!--Calorie Intake-->
				<div class="form-group row mb-3">
					<label class="form-label col-sm-4 col-form-label">Calories</label>
					<div class="col-sm-6">
						<input type="number" id="dvCalories" class="form-control" placeholder="(Calories)" disabled/>
					</div>
				</div>

				<!--Protein Intake-->
				<div class="form-group row mb-3">
					<label class="form-label col-sm-4 col-form-label">Protein Intake</label>
					<div class="col-sm-6">
						<input type="number" id="dvProtein" class="form-control" placeholder="(In Grams)" disabled />
					</div>
				</div>

				<!--Water Intake-->
				<div class="form-group row mb-3">
					<label class="form-label col-sm-4 col-form-label">Water Intake</label>
					<div class="col-sm-6">
						<input type="number" id="dvWater" class="form-control" placeholder="(Fluid Ounces)" disabled />
					</div>
				</div>

				<!--Weight-->
				<div class="form-group row mb-3">
					<label class="form-label col-sm-4 col-form-label">Weight</label>
					<div class="col-sm-6">
						<input type="number" id="dvWeight" class="form-control" placeholder="(lbs)" disabled/>
					</div>
				</div>


				<div class="form-group row mb-3">
					<h1 class="col-form-label-lg phoenix-section-header">Food</h1>
				</div>


				<div class="form-group row mb-3">
					<div class="col-sm-12">
						<textarea class="form-control" id="dvFood" rows="5" disabled></textarea>
					</div>
				</div>


				<!--Checks for if I completed something that day-->
				<div class="form-group row mb-3">
					<h1 class="col-form-label-lg phoenix-section-header">Checks</h1>
				</div>

				<!--Gym-->
				<div class="form-check form-check-inline">
					<input class="form-check-input" id="dvGymExercise" type="checkbox" disabled/>
					<label class="form-check-label">Gym/Exercise</label>
				</div>

				<!--Cooked Food-->
				<div class="form-check form-check-inline">
					<input class="form-check-input" id="dvCookedFood" type="checkbox" disabled/>
					<label class="form-check-label">Cooked Food</label>
				</div>

				<!--No Mochas-->
				<div class="form-check form-check-inline">
					<input class="form-check-input" id="dvNoMochas" type="checkbox" value="" disabled/>
					<label class="form-check-label">No Mochas</label>
				</div>


				<!--No Erotica-->
				<div class="form-check form-check-inline">
					<input class="form-check-input" id="dvNoErotica" type="checkbox" disabled/>
					<label class="form-check-label">No Erotica</label>
				</div>

				<!--No Reddit-->
				<div class="form-check form-check-inline">
					<input class="form-check-input" id="dvNoReddit" type="checkbox" disabled/>
					<label class="form-check-label">No Reddit</label>
				</div>
			</div>
		</div>
	</div>
</div>